:root {
  --main: #A0043A;  
  --main2: #8C7343;
  --main3: #8C7343;
  --main-black: #000000;
  --bg-2: #FFE7C2;   
  --main-b: #171a21;
  --color--body--light: #515151;
  --color--link-underline: #212121;
  --color-waining: #B26B00;   
  --color-waining2: #E78B00;   
  --color-text: #515A6C;
  --main-text: #7D8391;
  --color-danger: #E5172F; 
} 

a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: "Noto Sans Thai", serif;
  font-style: normal;
}    
header{
  height: 110px;
  padding-top: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
header .logo{
  height: 88px;
}
header h3{
  color: var(--main);
}
header h6 a{
  color: var(--main);
} 
h1{
  color: #38A1E7;
  font-size: 28px;
}
.form-m{
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #f5f5f5;
  border: 1px solid #dee2e6;
}


/* 
transition: .33s all ease-out;  
  font-family: "Noto Sans Thai", serif;
######################################################################################################
###################################################################################################### 
*/ 
 
input[type='text'] {
  border: 1px solid #D3D6DA;
  height: 48px;
  color: #7D8391;
  font-size: 16px;
}
input[type='text']:focus{
  border: 2px solid var(--main); 
  color: var(--main); 
  outline: unset !important;
  box-shadow: none !important
}
.form-select{
  border: 1px solid #D3D6DA;
  height: 48px;
  color: #7D8391;
  font-size: 16px;
}
.form-label{
  color: var(--main-black);
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
} 
.icon-img{
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  top: 55px;
}

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }   
  .addex{
    text-align: center;
  }
  header .logo{
    display: block;
    margin: auto;
  }
  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }      
}     